.content {
    position: relative;
    height: 85vh;
    margin-top: 75px;
}
.container {
    position: absolute;
    left: 150px;
    background-color: rgb(0, 56, 30);
    border-radius: 25px;
    width: 35%;
    text-align: center;
}
.container ol {
    display: inline-block;
    color: white;
}
.container li {
    font-size: xx-large;
    margin-bottom: 10px;
}

.contact-form {
    position: absolute;
    padding: 10px;
    right: 30px;
    height: fit-content;
    color: white;
    width: 40%;
    background-color: rgb(0, 56, 30);
    border-radius: 25px;
    text-align: center;
}

#contact-submit {
    position: relative;
    color: white;
    background-color: gray;
    border: 1px solid black; 
    font-size: 20px;
    margin-top: 15px;
    border-radius: 8px;
    height: 30px;
}
.contact-form fieldset {
    text-align: center;
}

textarea {
    resize: none;
}
label {
    color: #fff;
    margin-right: 10px;
}
input {
    margin-top: 10px;
}